# Template Environment variables. Copy this file to .env.local and fill in your keys.
# Do NOT check your actual secrets (.env.local) into version control!

NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
